.header__container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--accent-color);
  color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.header__container svg {
  width: 2.5rem;
  height: 2.5rem;
}
.header__container-title {
  font-family: "McLaren", cursive;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-left: 1rem;
}
